<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include ('partials/head.html') %>
</head>
<body>
  <%- include ('partials/navigation.html') %>

  <div class="container">
    <header class="row">
      <div class="col-lg-12 text-center">
        <img src="/img/logo.png" class="animate__bounceIn" alt="Logo page">
      </div>
    </header>
  </div>

  <!-- SECTION ABOUT -->
  <div class="container-fluid" id="about">
    <div class="row bg-dark text-white p-5 text-center">
      <div class="col-md-6">
        <i class="fab fa-youtube fa-10x"></i>
      </div>
      <div class="col-md-6">
        <h3>The most suscribed Youtuber</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi unde ratione aperiam labore adipisci architecto, animi placeat vitae, magni tempore laboriosam officiis dolores? Assumenda necessitatibus obcaecati saepe dolores voluptatum vel!</p>
      </div>
    </div>
  </div>
  <%- include ('partials/footer.html')%>
</body>
</html>