  <!-- BOOTSTRAP 4 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- FONT AWESOME -->
  <script src="https://kit.fontawesome.com/27d383ee62.js" crossorigin="anonymous"></script>
  <!-- FUENTE DE GOGLE SPICY RICE -->
  <link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet"> 
  <!-- ANIMATE CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
  <!-- CUSTOM CSS -->
  <link rel="stylesheet" href="/css/main.css">